[Unit]
Description=Dunst notification daemon
Documentation=man:dunst(1)
PartOf=graphical-session.target

[Service]
Type=dbus
Environment=DISPLAY=:1
Environment=XAUTHORITY=/run/user/1000/Xauthority
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/sh -c 'PATH=/home/dylan/.local/bin/scripts:$PATH /usr/bin/dunst'
