[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Environment=XAUTHORITY=/run/user/1000/Xauthority
Environment=DISPLAY=:1
ExecStart=/usr/bin/slock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
